.Button1:hover, .Button2:hover{
    transform: translate(-.5rem, .5rem);
    transition: 0.3s ease-in-out;
}
.Button2{
    border-radius: 12px;
    border: none;
    background-color: rgb(23, 21, 37) ;
    color: rgb(241, 183, 244);
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}
.Button1{
    border-radius: 12px;
    border: none;
    background-color:rgb(241, 183, 244)  ;
    color:  rgb(23, 21, 37);
    padding: 15px;
    cursor: pointer;
}
.Card{
    border-style: dotted;
  border-color:rgb(144, 143, 151) ;
    height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card:hover{
    transition: 0.8s;
    background-color: rgb(242, 139, 248);

}
.ProductsDisplay{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly; 
}
.products{
    width: 75%;
}
h2{
    font-size: 3.5rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to right,  rgb(23, 21, 37), rgb(241, 183, 244));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#EmptyCart{
    font-size: 1.2rem;
    color: rgb(23, 21, 37);
}
.ReviewSubSection{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
    border-radius: 12px;
    border-color: rgb(241, 183, 244);
    margin:auto;
    text-align: center;
    color: rgb(23, 21, 37);
    width: 50%;
}
strong{
    color: rgb(214, 116, 219);
    font-weight: 500;
}
.Details{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
    border-radius: 12px;
    border-color: rgb(241, 183, 244);
    text-align: center;
    font-size: 1.3rem;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.detailImg{
    width: 20%;
}
.Quantity{
    border-radius: 8px;
    border-style: dotted;
    border-color:rgb(241, 183, 244) ;
    width: 20px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Cart{
    text-align: center;
}
.Cart img{
    width: 30%;
}

@media screen and (max-width: 767px)
{
    .Card{
        width:100%;
        height: 400px;
    }
    .ProductsDisplay{
        grid-template-columns: auto auto;
    }
    .Buttons{
        display: flex;
    }
}

