.Button1:hover, .Button2:hover{
    transform: translate(-.5rem, .5rem);
    transition: 0.3s ease-in-out;
}
.Button1{
    border-radius: 12px;
    border: none;
    background-color: rgb(23, 21, 37) ;
    color: rgb(241, 183, 244);
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}
.Button2{
    border-radius: 12px;
    border: none;
    background-color: rgb(241, 183, 244); ;
    color: rgb(23, 21, 37) ;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}
.ButtonA{
    border: none;
    background-color: rgb(23, 21, 37) ;
    color: rgb(241, 183, 244);
    padding: 15px;
    cursor: pointer;
}
.Button3{
    border-radius: 12px;
    border: none;
    background-color: rgb(23, 21, 37) ;
    color: rgb(241, 183, 244);
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    width: 50%;
}
.Card{
    border-style: dotted;
  border-color:rgb(144, 143, 151) ;
    height: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Card:hover{
    transition: 0.8s;
    background-color: rgb(242, 139, 248);

}
.ProductsDisplay{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly; 
}
.products{
    width: 75%;
}
h2{
    font-size: 3.5rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to right,  rgb(23, 21, 37), rgb(241, 183, 244));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#EmptyCart{
    font-size: 1.2rem;
    color: rgb(23, 21, 37);
}
.ReviewSubSection{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
    border-color: rgb(241, 183, 244);
    margin:auto;
    margin-top: 10px;
    text-align: center;
    color: rgb(23, 21, 37);
    width: 90%;
}
strong{
    color: rgb(214, 116, 219);
    font-weight: 500;
}
.Details{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
    border-color: rgb(241, 183, 244);
    text-align: center;
    font-size: 1.3rem;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.detailImg{
    width: 30%;
    margin: auto;
}
.detailsImg{
    width: 50%;
    margin: auto;
}

.Cart thead
{
    background-color: rgb(23, 21, 37);
}
.Left-Section{
    width: 50%;
    padding: 20px;

}
.Right-Section{
    width: 50%;
    text-align: left;
    
}
.productName{
    font-size: 0.9rem;
}

.Quantity{
    
    border-style: none;
    width: 50px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
.CartEmpty{
    text-align: center;
}

.QuantityCounter{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Cart{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Cart th, .Cart td{
    border: 1px,solid;
    text-align: center;
}
.CartSummary{
    text-align: center;
    border: solid 1px;
    border-color:rgb(23, 21, 37) ;
    border-radius: 8px;
    width: 20%;
    margin: auto;

}

@media screen and (max-width: 767px)
{
    .Card{
        width:100%;
        height: 400px;
    }
    .ProductsDisplay{
        grid-template-columns: auto auto;
    }
    #motto{
        font: size 2.5rem; ;
    }
    .box{
        bottom: 15px;
    }
    .Buttons{
        display: flex;
    }
    .Details{
        flex-direction: column;
    }
    .Left-Section{
        width: 100%;
    }
    .Right-Section{
        text-align: center;
        width: 100%;
    }
    .Button2{
        padding: 8px;
    }
    .CartSummary{
        width: 80%;
    }
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    td{
        position: relative;
		padding-left: 50%; 
	
    }
    .Cart td{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ButtonA{
        width: 40%;
        margin: auto;
    }
    td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: 800;
       
	}

    .Cart tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    .Cart tr:nth-child(even) {
        background-color: rgb(253, 221, 255);
    }

    td:nth-of-type(1):before { content: "Product Name"; }
	td:nth-of-type(2):before { content: "Image"; }
	td:nth-of-type(3):before { content: "Price"; }
	td:nth-of-type(4):before { content: "In Stock"; }
	td:nth-of-type(5):before { content: "Discount"; }
	td:nth-of-type(6):before { content: "Warranty"; }
	td:nth-of-type(7):before { content: "Shipping"; }
	td:nth-of-type(8):before { content: "Quantity"; }
	td:nth-of-type(9):before { content: "SubTotal"; }
	td:nth-of-type(10):before { content: "Remove"; }

}

